<!DOCTYPE html>
<html>
<head>
  <title>Cingo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- ClickDesk Live Chat Service for websites -->
  <script type='text/javascript'>
  var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDwsSBXVzZXJzGICwnrMTDA');
  var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
  'http://my.clickdesk.com/clickdesk-ui/browser/');
  var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
  var glcspt = document.createElement('script'); glcspt.type = 'text/javascript';
  glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
  var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
  </script>
  <!-- End of ClickDesk -->

  <%= csrf_meta_tags %>
</head>
<body style="margin:4px; padding:4px">
    <!-- Partial -->
    <%= render 'home/navbar' %>
    <%= yield %>
    <!-- Partial -->
    <%= render 'home/new_question_form' %>

</body>
</html>
